{{ if .Site.Data.homepage.gallery.enable }}
<section class="section rad-animation-group pb-0" id="gallery">
  <div class="container rad-fade-down">
    <br />
    <h2>{{ .Site.Data.homepage.gallery.title }}</h2>
    <br />
    <div class="row d-flex flex-column-reverse flex-md-row">
      {{ range .Site.Data.homepage.gallery.items }}
      <div class="about__profile-picture col-12 col-md-6 pb-4">
        <a href="{{ .image.url }}">
          <img
            class="lozad img-responsive"
            src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
            data-src="{{ .image.x | absURL }}"
            data-srcset="{{ .image.x | absURL }} 1x, {{ .image._2x | absURL }} 2x"
            alt="Profile Picture"
          />
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
