{{ define "header" }}
{{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}

<link rel="stylesheet" href="http://localhost:1313/css/article.css">
<section class="section rad-animation-group pb-0" id="gallery">
  <div class="container rad-fade-down">
    <br />
    <br />
    <header class="mt4 w-100">
      <h1 class="f1 athelas mt3 mb1">
        {{- .Title -}}
      </h1>
    </header>
    <br />
    <div class="video-container">
      <iframe class="responsive-iframe" src="{{ $.Param "video" }}"
        title="YouTube
        video player" frameborder="0" allow="accelerometer; autoplay;
        clipboard-write; encrypted-media; gyroscope; picture-in-picture;
        web-share" allowfullscreen></iframe>
    </div>
    <div class="nested-copy-line-height lh-copy {{ $.Param
      "post_content_classes"
      | default "serif"}} f4 nested-links {{ $.Param "text_color" | default
      "mid-gray" }} {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl4-l"
      "pr4-l" }} w-two-thirds-l">
      {{- .Content -}}
      {{- partial "tags.html" . -}}
      <div class="mt6 instapaper_ignoref">
        {{ if .Site.DisqusShortname }}
        {{ template "_internal/disqus.html" . }}
        {{ end }}
        {{ if .Site.Params.commentoEnable }}
        {{- partial "commento.html" . -}}
        {{ end }}
      </div>
    </div>

    <aside class="w-30-l mt6-l">
      {{- partial "menu-contextual.html" . -}}
    </aside>
    <br />
    <br />
  </div>
</section>
{{ end }}